---
import BaseHead from "$lib/layout/BaseHead.astro";
import Footer from "$lib/layout/Footer.astro";
import Header from "$lib/layout/Header.astro";
import VideoHero from "$lib/components/VideoHero/index";
import Icon from "../components/Icon.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import ids from "../manifest.json";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="hero h-[100dvh]">
      <div
        class="loader animate-spin absolute grid place-content-center w-screen h-screen"
      >
        <Icon ctx="loader" size="4" colour="crimson" />
      </div>
      <VideoHero title={SITE_TITLE} ids={ids} client:load />
    </div>
    <Footer />
  </body>
</html>

<style>
  :global(.video-loaded .loader) {
    display: none;
  }
  .hero {
    position: relative;
    /* &:after {
      position: absolute;
      content: "";
      width: 50vw;
      height: 50vw;
      left: 25vw;
      top: calc(50vh - 25vw);
      border-radius: 50%;
      background-color: rgb(214, 88, 113);
    } */
  }
</style>
