---
import Icon from "../components/Icon.astro";
const today = new Date();
import { SITE_TITLE } from "$lib/consts";
---

<footer>
  <div
    class="flex justify-between items-center font-secondary text-red-900 px-4"
  >
    <Icon ctx="rain" size="8" colour="crimson" />
    <span>&copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved.</span>
    <span
      >🧰 built by <a
        class="inline-link"
        href="https://walthamstow.whatarewebuilding.xyz">whatarewebuilding</a
      ></span
    >
  </div>
</footer>
<style>
  .inline-link {
    text-decoration: underline;
  }
  footer {
    background: linear-gradient(
        rgb(239 83 93 / 10%),
        rgba(255, 138, 138, 0.1325)
      )
      no-repeat;
    font-size: small;
    text-align: center;
  }
</style>
